<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.0</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        {load href="__ADMIN__/css/font.css" /}
    	{load href="__ADMIN__/css/xadmin.css" /}

    </head>
    <style>
    .site-demo-flow img {width: 100px; height: 100px;padding: 10px;}
    /* .showPic ul li{width:150px;margin-top:10px;float: left;position:relative;} */
    .showPic ul li{width:150px;margin-top:10px;float: left;position:relative;margin:10px;}
    .showPic ul img {float: left;width:150px;height:150px;}
    .download {float:right;}
    .edit{width:150px;position: absolute;bottom:0;}
    </style>
    <body>
    <div class="x-body layui-anim layui-anim-up">
    <blockquote class="layui-elem-quote">
        <div>
            <button class="layui-btn layui-btn-primary" onclick="goback()">返回</button>
            <!-- <button class="layui-btn">默认按钮</button> -->
            <button class="layui-btn layui-btn-normal" id="newdir">新建文件夹</button>
            <button class="layui-btn layui-btn-warm">刷新返回</button>
            <button class="layui-btn layui-btn-normal" onclick="clearLoad()">清缓存刷新缓存</button>
            <!-- <button class="layui-btn layui-btn-danger">警告按钮</button> -->
            <!-- <button class="layui-btn layui-btn-disabled">禁用按钮</button> -->
        </div>
    </blockquote>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <div class="showPic">
        <ul id="myFiles">
            <li onmousemove="disBtn(this)" onmouseout="displayBtn(this)">
                <img src="/static/admin/images/file.jpg">
                <div class='edit'>
                    <button class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">文件夹名</button>
                </div>
            </li>

            <li onmousemove="disBtn(this)" onmouseout="displayBtn(this)">
                <img src="/images/的.png">
                <div class='edit'>
                    <button class="layui-btn">编辑</button>
                    <button class="layui-btn download">下载</button>
                </div>
            </li>

        </ul>
    </div>
    {load href="__ADMIN__/lib/layui/layui.js" charset="utf-8" /}
    {load href="__ADMIN__/js/jquery-3.3.1.min.js" /}
    {load href="__ADMIN__/js/xadmin.js" /}
    <script>
    // 新建文件夹
    function newdir(url)
    {
        layer.prompt({title: '请输入文件夹中文名', formType: 3}, function(chinese, index){
            layer.close(index);
            layer.prompt({title: '请输入文件夹英文名', formType: 3}, function(english, index){
                layer.close(index);
                // 提交数据至服务器
                var data ={
                    chinese : chinese,
                    english : english,
                    url :url
                };
                $.ajax({
        			type: 'post',
        			url: '{:url("index/newdir")}',
        			dataType: 'json',
        			data: data,
        			success: function(msg){
                        if(msg.code == 200){
                            layer.msg('创建文件夹完毕,请刷新！中文名:'+ chinese +'<br>英文名:'+english);
                        }else if(msg.code == 400) {
                            layer.msg(msg.info);
                        }else if(msg.code == 500){
                            layer.msg('已存在同名文件夹！请重新输入！');
                        }

        			},
        			beforeSend: function(request) {
        				request.setRequestHeader("X-Requested-Witzh","XMLHttpRequest");
        			}
        		});
            });
        });
    }
    window.onload=function(){
        var data;
        $.ajax({
			type: 'get',
			url: '{:url('index/play')}',
			dataType: 'json',
			data: data,
			success: function(msg){
                if(msg.code == '200'){

                    var html = "";

                    var data = msg.data;

                    if(data.dir != ''){

                        $.each(data.dir, function(idx, obj) {

                            html += '<li onmousemove="disBtn(this)" onmouseout="displayBtn(this)"><img src="/static/admin/images/file.jpg" id="'+obj.dir+'"><div class="edit" style="display:none;"><button class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">'+obj.name+'</button></div></li>';
                            var id = '#'+obj.dir;
                            $(id).attr('onclick','openWin();');
                        });
                    }
                    if(data.file != ''){

                        var file = data.files;

                        $.each(file, function(idx, obj) {

                            html += '<li onmousemove="disBtn(this)" onmouseout="displayBtn(this)"><img src="'+obj.url+'"><div class="edit" style="display:none;"><button class="layui-btn">编辑</button><button class="layui-btn download"><a href="'+obj.url+'" download="'+obj.name+'">下载</a></button></div></li>';
                        });
                    }
                    $("#myFiles").html(html);

                    $.each(data.dir, function(idx, obj) {
                        var id = '#'+obj.dir;
                        $(id).attr('onclick','openWin("'+obj.dir+'");');
                    });
                    $('#newdir').attr('onclick','newdir("'+data.url+'")');

                }
			},
			beforeSend: function(request) {
				request.setRequestHeader("X-Requested-Witzh","XMLHttpRequest");
			}
		});
    }

    function openWin(url,ischeck = 'yes')
    {
        $.ajax({
			type: 'get',
			url: '{:url('index/play')}',
			dataType: 'json',
			data: {path:url},
			success: function(msg){
                if(msg.code == '200'){

                    var storage=window.localStorage;

                    if(ischeck == 'yes'){
                        // 把链接存入localStorage


                        var time = new Date().getTime();

                        storage[time]= url;

                    }

                    var html = "";

                    var data = msg.data;

                    if(data.dir != ''){

                        $.each(data.dir, function(idx, obj) {

                            html += '<li onmousemove="disBtn(this)" onmouseout="displayBtn(this)"><img src="/static/admin/images/file.jpg" id="'+obj.dir+'"><div class="edit" style="display:none;"><button class="layui-btn layui-btn-lg layui-btn-primary layui-btn-radius">'+obj.name+'</button></div></li>';
                            var id = '#'+obj.dir;
                            $(id).attr('onclick','openWin();');
                        });
                    }
                    if(data.file != ''){

                        var file = data.files;

                        $.each(file, function(idx, obj) {

                            html += '<li onmousemove="disBtn(this)" onmouseout="displayBtn(this)"><img src="'+obj.url+'"><div class="edit" style="display:none;"><button class="layui-btn">编辑</button><button class="layui-btn download"><a href="'+obj.url+'" download="'+obj.name+'">下载</a></button></div></li>';
                        });

                    }
                    $("#myFiles").html(html);

                    $.each(data.dir, function(idx, obj) {
                        var id = '#'+obj.dir;
                        $(id).attr('onclick','openWin("'+obj.dir+'");');
                    });
                    $('#newdir').attr('onclick','newdir("'+data.url+'");');
                }
			},
			beforeSend: function(request) {
				request.setRequestHeader("X-Requested-Witzh","XMLHttpRequest");
			}
		});
    }
    // 返回上一链接
    function goback()
    {
        var links = new Array();
        // 把链接存入localStorage
        var storage = window.localStorage;

        for(var i = 0; i < storage.length; i++){

            var key = storage.key(i);

            if(isNumber(key) == false){
                storage.removeItem(key);
            }
        }
        var curkey = storage.key(storage.length-2);
        if(curkey == null){
            var curUrl = '';
            openWin(curUrl, 'no');
        }else {
            var curUrl = storage[curkey];

            openWin(curUrl, 'no');

            storage.removeItem(curkey);
        }
    }
    function isNumber(value) {
        var patrn = /^[0-9]*$/;
        if (patrn.exec(value) == null || value == "") {
            return false
        } else {
            return true
        }
    }
    // 显示btn
    function disBtn(obj)
    {
        var i = obj.childNodes[1];
        i.style.display = "";
    }
    // 隐藏btn
    function displayBtn(obj)
    {
        var i = obj.childNodes[1];
        i.style.display = "none";
    }
    function clearLoad()
    {
        var data;
        $.ajax({
            type: 'get',
            url: '{:url("index/cleargetdir")}',
            dataType: 'json',
            data: data,
            success: function(msg){
                if(msg.code == 200){
                    if(msg.total-msg.deal > 0){
                        getCache(msg.total,msg.deal);
                    }
                    var type = 'auto';
                    var text = "已清除缓存，正在刷新缓存，请勿在网页进行其他操作!";
                    layer.open({
                        type: 1
                        ,offset: type
                        ,id: 'layerDemo'+type
                        ,content: '<div style="padding: 20px 100px;">'+ text +'</div>'
                        ,btn: ['确定']
                        // ,area: ['600px', '357px'] //宽高
                        ,btnAlign: 'c'
                        ,shade: 0
                        ,yes: function(){
                            layer.closeAll();
                        }
                    });
                }
            },
            beforeSend: function(request) {
                request.setRequestHeader("X-Requested-Witzh","XMLHttpRequest");
            }
        });
    }
    function getCache(total,deal)
    {
        var data = {
            deal : deal,
            total :total
        };
        $.ajax({
            type: 'post',
            url: '{:url("index/getcache")}',
            dataType: 'json',
            data: data,
            success: function(msg){
                if(msg.code == 200){
                    var tip = $('#layerDemoauto');
                    if(msg.total-msg.deal > 0){
                        getCache(msg.total,msg.deal);

                        tip.html('<div class="load" style="padding: 20px 100px;">已成功更新缓存<span style="color:green;font-size:35px;">'+msg.deal+'</span>条链接！,还剩下<span style="color:red;font-size:35px;">'+(msg.total-msg.deal)+'</span>条！</div>');
                    }else {
                        tip.html('<div class="load" style="padding: 20px 100px;">已全部成功更新缓存<span style="color:green;font-size:35px;">'+msg.deal+'</span>条链接！</div>');
                    }
                }
            },
            beforeSend: function(request) {
                request.setRequestHeader("X-Requested-Witzh","XMLHttpRequest");
            }
        });
    }
    </script>
</body>
</html>
